<!DOCTYPE html>
<html>
	<head>
		<title>Error</title>

		<%- include ("../parts/GoogleFonts.ejs") %>
		<link rel="stylesheet" type="text/css" href="/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/css/error.css"/>
	</head>
	<body>
		<%- include ("../parts/header.ejs") %>
		<p class="error-sign">
			<strong>ERROR:</strong>
		</p>
		<p class="error-message"><%= error %></p>
	</body>
</html>
