<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<form action="loginuser" method="POST">
			<p>Email<input name="email"/></p>
			<p>Password<input name="password"/></p>
			<button type="submit">Login</button>
		</form>
	</body>
</html>
