<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<% if(messages.error) { %>
			<%= messages.error %>
		<% } %>
		<form action="/register", method="POST">
			<p>Name<input name="displayName" required/></p>
			<p>Email<input name="email" required/></p>
			<p>Password<input type="password" name="password" required/></p>
			<p>Confirm Password<input type="password" name="confirmPassword" required/></p>
			<input type="hidden" value="<%= csrfToken %>" name="_csrf"/>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
