<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<form action="/register", method="POST">
			<p>Name<input name="displayName"/></p>
			<p>Email<input name="email"/></p>
			<p>Confirm Email<input name="confirmEmail"/></p>
			<p>Password<input name="password"/></p>
			<p>Confirm Password<input name="confirmPassword"/></p>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
