<!DOCTYPE html>
<html>
	<head>
		<title>Search</title>
		<%- include ("../parts/GoogleFonts.ejs") %>
		<link rel="stylesheet" type="text/css" href="/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/css/search.css"/>
	</head>
	<body>
		<%- include ("../parts/header.ejs") %>
		<form class="search-form" method="GET">
			<h1 class="search-title title">Res/<%= user %></h1>
			<div class="form-container">
				<input class="search-bar" placeholder="Search . . ." name="q"/>
				<button type="submit" class="form-submit">Search</button>
			</div>
		</form>
	</body>
</html>
